/* RESET */

/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: underline
}

/* ===== VARIAVEIS ====== */
:root {
    --header-height: 4.5rem;

    /* colors */
    --hue: 60;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
}


body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

#home {
    background-image: url(images/pizza.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}









/* ===== LAYOUT ====== */

#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* == MINI-LOGO == */
.logo {
    font: 700 1.31rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span {
    color: orangered;
}

.social {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#redes {
    width: 35px !important;
    border-radius: 5px;
}

.firstli {
    display: inline;
}

.secondli {
    display: inline;
}

.container-grid {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: calc(2rem + var(--header-height)) 0;
}

.text1 {
    margin-top: 3rem;
}

span {
    color: orangered;
}

.texto {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: white;
    -webkit-font-smoothing: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ph {
    font: 900 0.99rem 'Poppins', sans-serif;
    color: white;
    -webkit-font-smoothing: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline-color: orangered;
}

input {
    border: none;
    margin: 0 5px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

.btn-primary {
    border: none;
    margin-left: 5px;
    background-color: orangered;
    color: white;
    height: 50px;
    width: 200px;
    align-items: center;
    border-radius: 10px;
    font: 500 1rem 'DM Sans', sans-serif;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(230, 64, 4);
}

/* ===== BASE 1 ====== */


/* ===== BASE 2 ====== */

.section2 {
    background: rgb(205, 193, 193);
    background-repeat: no-repeat;
    border: 0.4px solid #4a4a4a;
    height: 500px !important;
}

.titulo2 {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: black;
    -webkit-font-smoothing: auto;
    padding-top: 20px;
    text-align: center;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.bloco1 {
    float: left;
    width: 50%;
    height: 200px;
    margin-left: 50px;
}

.bloco2 {
    float: left;
    width: 50%;
    height: 200px;
    margin-left: 50px;
}

.bloco {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding: 20px;
}

.icon {
    padding: 10px;
}

#image {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    padding: 10px;
}

#texto-icone {
    margin-left: 30px;
    align-items: center;
    font-size: 18px;
    font-family: poppinsregular;
    flex-direction: column;
}


/*====  ABOUT ============================ */

.section3 {
    background: rgb(205, 193, 193);
    background-repeat: no-repeat;
    border: 0.4px solid #4a4a4a;
    height: 500px !important;
}







#about {
    background: orangered;
}

#about .container {
    margin: 0;
}

#about .imagem {
    position: relative;
    margin-top: 5rem;
}


#about .imagem img {
    position: relative;
}

#about .imagem img,
#about .imagem::before {
    border-radius: 0.25rem;
}

#about .text3 {
    color: black;
    margin-left: 5rem;
    gap: 5px;
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {

    /* reusable classes */
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    /* about */
    #about .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }

}

/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}


/*========= COMO TRABALHAMOS =========*/
#work iframe {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#work {
    background: rgb(205, 193, 193);
}

#work .container {
    margin: 0;
}

#work .imagem {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#work .imagem img {
    position: relative;
}

#work .textwork {
    color: black;
    margin-left: 3rem;
    font-size: 20px;

}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {

    /* reusable classes */
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    /* work */
    #work .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }

}

/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}


/*====  Depoimentos ============================ */

.section5{
    background: rgb(205, 193, 193);
    background-repeat: no-repeat;
    border: 0.4px solid #4a4a4a;
    height: 500px !important;
    padding: 65px 20px;
}



#testimonials {
    background: orangered;

}

#testimonials .containerr {
    margin-left: 0;
    margin-right: 0;
}

#testimonials .depoimentos {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    background: rgb(205, 193, 193);
}

#testimonials blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: black;
}

#testimonials blockquote p span {
    font: 700 2.5rem serif;
    position: absolute;
    top: -0.375rem;
    left: -1.875rem;
    color: black;
}

#testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;

}

#testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

.section .depoimentos,
#testimonials .depoimentos {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* swiper */
.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
    color: black;
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
}

.swiper-pagination-bullet-active {
    color: black;

}

.title3 {
    color: black;
}





.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: calc(2rem + var(--header-height)) 0;
    background: rgb(205, 193, 193);
    height: 600px !important;
    padding-top: 50px;
}

.text6 {
    margin-top: 3rem;
}

.texto6 {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: black;
    -webkit-font-smoothing: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

span {
    color: orangered;
}

form {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline-color: orangered;
}

input {
    border: none;
    margin: 0 5px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

.btn-primary {
    border: none;
    margin-left: 5px;
    background-color: orangered;
    color: white;
    height: 50px;
    width: 200px;
    align-items: center;
    border-radius: 10px;
    font: 500 1rem 'DM Sans', sans-serif;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(230, 64, 4);
}

.phh {
    font: 900 0.99rem 'Poppins', sans-serif;
    color: black;
    -webkit-font-smoothing: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*====  FOOTER ============================ */
footer {
    background-color: orangered;
    background-repeat: no-repeat;
    align-items: center;
}

.container-footer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




footer .brand a {
    color: black;
}

footer .brand span {
    color: white;
}

footer .brand p {
    color: black;
}

footer i {
    font-size: 2rem;
    color: black;
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
}

footer .social a {
    color: black;
    transition: 0.3s;
    display: inline-block;
}

footer .social a:hover {
    transform: translateY(-8px);
}

/* footer */
footer.section7 {
    padding: 2rem 0;
}

footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

footer .logo {
    font-size: 1rem;
}